body {
    font-family: arial;
}

.Card {
    position: absolute;
    width: 335px;
    height: 184px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;
    background: #387AFF !important;

}

.Top {
    display: block;
}

.logo {
    position: inherit;
    display: flex;
}


.logoText {
    position: relative;
    left: 10px;
    top: 12px;
}

.ScoreInfo {
    display: flex;
    position: absolute;
    top: 15px;
    right: 25px;
    flex-direction: column;
}

.ScoreText {
    font-size: 8px;
    font-weight: 700;
    line-height: 9.07px;
    letter-spacing: 0.008em;
    text-align: right;
}

.ScoreValue {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.008em;
    text-align: right;
    margin-top: 4px;
}
.Content {
    display: flex;
    margin: 15px 25px;
    flex-direction: column;
}
.ProgressInfo {
    position: relative;
    flex-direction: column;
    margin-top: 31px;
    display: flex;
    justify-content: left;
    
}

.ProgressBar {
    display: flex;
    /* width: 285px !important; */
    height: 13px !important;
    gap: 0px;
    border-radius: 100px !important;
    background: #D9D9D9;

}

.ProgressBar::after {
    opacity: 0 !important;
    background: #2BA8FA !important;
}

.RangInfo {
    margin-top: 13px;
    font-size: 10px;
    font-weight: 900;
    line-height: 11.33px;
    letter-spacing: 0.008em;
    display: flex;
    justify-content: space-between;
}

.BottomButton {
    width: 88px !important;
    height: 23px !important;
    border-radius: 50px;
    opacity: 0px;
    background: #2BA8FA !important;
    font-size: 10px !important;
    font-weight: 700 !important;
    line-height: 14px !important;
    letter-spacing: 0.03em !important;
    text-align: center;

}

.BottomText {
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.03em;
    text-align: left;
}

.Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}